#answer-container {
  background-color: var(--bg);
  padding: 12px;
  margin-left: 32px;
  border-radius: 8px;

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;

    img {
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }

    div {
      flex-direction: row;
      display: flex;
      align-items: center;
      gap: 8px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
