.button {
  height: 50px;
  border-radius: 8px;
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;
  padding: 0 32px;

  transition: filter 0.2s;

  img {
    margin-right: 8px;
  }

  &.outlined {
    border: 1px solid var(--primary);
    color: var(--primary);
  }

  &.contained {
    background: var(--primary);
    color: var(--white);
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  .loading {
    padding-bottom: 3px;
    font-size: 20px;
    width: 16px;
    text-align: left;
  }

  .loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 900ms infinite;
    animation: ellipsis steps(4, end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
  }

  @keyframes ellipsis {
    to {
      width: 1.25em;
    }
  }

  @-webkit-keyframes ellipsis {
    to {
      width: 1.25em;
    }
  }
}
